.product-card {
    cursor: pointer;
}
.product-card__wishlist-button {
    top: .5em;
    right: .5em;
    z-index: 100;
}
.product-card__wishlist-button--button {
    padding: revert;
}
.product-card__wishlist-button--icon {
    font-size: 2em;
    line-height: 1.1em;
}
// --------------------------------
// List (as opposed to Grid) styles
// --------------------------------
.product-list--list {
    .product-card__wrapper {
        flex: 0 0 100% !important;
        max-width: 100% !important;

        .product-card {
            flex-direction: row !important;
            align-items: center;
            justify-content: space-between;

            .product-card__image {
                width: 90px;
                height: 90px;
                margin-left: 1em;
            }
        }
    }
} 